body {
  cursor: url("/images/mouse.cur"), auto;
}
.sidebar {
  left: -8rem;
  width: 8rem;
}
.sidebar.on {
  left: 0;
}
.content.on {
  margin-left: 0 !important;
}
.navbar-toggle {
  left: 9.5rem;
}
.video {
  position: relative;
  height: auto;
}
.video .brand {
  width: brand-size;
}
.video-frame {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 100%;
}
.video-frame img {
  display: block;
  width: 100%;
}
.video-media {
  position: relative;
  z-index: 0;
  height: 100vh;
  overflow: hidden;
}
.video-media video,
.video-media img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}
.video-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(178,191,204,0.6);
}
.video-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
}
.video-inner a,
.video-inner {
  color: #fff;
  text-decoration: none;
}
.video-learn-more {
  position: absolute;
  z-index: 1;
  bottom: -3rem;
  right: 0;
  left: 0;
}
.video-learn-more a > .fe {
  font-size: 3rem;
  color: #808080;
}
.video-learn-more a > .fe:hover {
  color: sea;
}
.search-form-wrap {
  right: 8rem;
}
@media (min-width: 768px) {
  .outer,
  .wrap {
    width: 80rem !important;
  }
}
@media (max-width: 768px) {
  .tocbot {
    display: none !important;
  }
  .content.on {
    transform: translateX(8rem);
  }
}
